@import "tailwindcss";

body {
    background-color: #26213d !important;
    color: white;
}

.ant-tabs-tab-btn {
    font-size: 18px;
}

.ant-tabs-content-holder {
    font-size: 18px;
}

.triple-slider .swiper {
    width: 80%;
    max-width: 43% !important;
    height: 320px;
    border-radius: 8px;
}

.ant-tabs-tab {
    color: #ffffff !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #f99c00 !important;
}

.ant-tabs .ant-tabs-ink-bar {
    background-color: #f99c00;
}

.ant-form-item-required {
    color: white !important;
}